[submodule "lib/java-socket.io.client"]
	path = lib/java-socket.io.client
	url = git://github.com/bzar/java-socket.io.client.git
[submodule "lib/JSON-java/org/json"]
	path = lib/JSON-java/org/json
	url = git://github.com/douglascrockford/JSON-java.git
